.landing-page-container{
    width:500px;
    border-radius: 10px;
    height: 600px;
    overflow-y: scroll;
}

.landing-page-container::-webkit-scrollbar{
    width: 2px;
    scroll-behavior: smooth;
}

.landing-page-container::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 500px;
}

.landing-page-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blue;
    height: 100px;
    margin: 0;
    border-radius: 10px 10px 0px 0px;
    position: sticky;
    top: 0;
}

.landing-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-content{
    display: flex;
    justify-content: center;
}

.user-work-info{
    width: 50%;
    display: block;
    padding: 0px 0px 0px 20px;
}

.user-work-info img{
    margin-left: 30%;
    margin-top: 20px;
    width: 220px;
    height:220px;
    border-radius: 50%;
}

body {
    font-family: Verdana, sans-serif;
  }

.user-address{
    width: 50%;
    border-left: 1px solid rgb(0,0,0,.1);
    padding: 15px 0px 0px 50px;
}

.map-container{
    margin-top: 10px;
    width:550px;
    height: 300px;
    border-radius: 20px;
}

.map-container img{
    width:100%;
    height: 100%;
    border-radius: 20px;
}

.chatbox-container{
    width: 260px;
    height: 350px;
    border: 1px solid blue;
    border-radius: 15px 15px 0px 0px;
    overflow-y: scroll;
}

.chatbox-container::-webkit-scrollbar{
    width: 0;
    scroll-behavior: smooth;
}